<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} {% endblock title %}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <nav>
         <ol>
            <li>payment-1</li>
            <li>payment-2</li>
            <li>product-1</li>
            <li>product-2</li>
            <li>review</li>
        </ol>
    </nav>

    <img src="{% static 'images/images (1).jpeg' %}" alt="">

{% block content %} 
{% endblock content %}
</body>
</html>